@import '~_sass/_variables.scss';
@import '~_sass/_mixins.scss';
@import '~_sass/_placeholders.scss';

$copy-hint-text-opactiy: .9;

.dialog {
	padding: 15px 20px;
	border: 1px solid #aaa;
	border-radius: $ui-border-radius;
	background-color: $app-background-color;

	&.new-design {
		padding: 25px 35px;
		border: none;
		box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
			0 6px 30px 5px rgba(0, 0, 0, 0.12),
			0 8px 10px -5px rgba(0, 0, 0, 0.4);
	}
}

:global([dark]) {
	.dialog {
		color: $dark-running-text-color;
		background-color: $dark-app-background-color;

		&.new-design {
			border: 1px solid $dark-modal-border-color;
			box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 60px 8px,
				rgba(0, 0, 0, 0.12) 0px 24px 76px 11px,
				rgba(0, 0, 0, 0.4) 0px 25px 100px -13px;
		}
	}
}

.heading {
	position: relative;
	top: -1px;

	margin-bottom: 10px;
	font-size: 14px;

	> img {
		margin: 5px;
	}
}
:global([dark]) {
	.heading {
		color: $dark-text-color;
	}
}

.textarea {
	@extend %tag-input;
	@include webkit-scrollbar(light);

	width: 100%;
	height: 40vh;

	border-radius: $ui-border-radius;
}
:global([dark]) {
	.textarea {
		@extend %dark-tag-input;
		@include webkit-scrollbar(dark);
	}
}
.textarea-wrap {
	position: relative;
}
.textarea-copy-btn {
	@include bigger-hotzone(after);

	position: absolute;
	right: 0;
	top: 0;
	color: var(--yt-spec-icon-inactive);

	cursor: pointer;

	opacity: .7;
}
.textarea-copy-btn__hint {
	margin-right: 5px;
	opacity: $copy-hint-text-opactiy;

	&:global(.anim-enter) {
		animation: fadeIn 0.3s both;
	}
	&:global(.anim-leave) {
		animation: fadeOut 0.3s both;
	}
}

.toolbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	&--export {
		justify-content: space-between;
	}

	:global(.ytd-settings-switch-renderer) {
		cursor: pointer;
	}
}
.toolbar-btn {
	$hover: #f7f7f7;

	padding: 8px 12px;
	margin-left: 5px;
	border-radius: $ui-border-radius;

	color: #bbb;
	cursor: pointer;

	&:hover {
		background-color: $hover;
	}
	&:active {
		background-color: darken($hover, 5%);
	}
}
.toolbar-btn-primary {
	composes: toolbar-btn;
	color: #167ac6;
}

@mixin btn-color($color) {
	$hover: lighten($color, 5%);
	$active: darken($color, 5%);

	&,
	&:focus {
		background-color: $color;
	}
	&:hover {
		background-color: $hover;
	}
	&:active {
		background-color: $active;
	}
}
@mixin btn-disable {
	&.disabled,
	&[disabled] {
		opacity: 0.6;
		pointer-events: none;
	}
}

.new-design {
	.textarea {
		padding: 6px 8px;
	}

	.toolbar {
		margin-top: 8px;
	}

	.toolbar-btn {
		@include btn-color(#ebebeb);
		@include btn-disable;

		margin-left: 8px;
		border: none;
		color: rgba(17, 17, 17, 0.6);

		&:focus {
			outline: none;
		}
	}

	.toolbar-btn-primary {
		@extend .toolbar-btn;

		@include btn-color(#2793e6);
		@include btn-disable;

		color: #fff;
	}
}

.markdown-toggle-btn-text {
	font-size: var(--ytd-caption-font-size);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: $copy-hint-text-opactiy;
	}
}

@keyframes fadeOut {
	from {
		opacity: $copy-hint-text-opactiy;
	}

	to {
		opacity: 0;
	}
}
