@import "~_sass/_placeholders.scss";

.importer {
	padding: 15px 20px;
	border: 1px solid #aaa;
	background-color: #fff;
}

.heading {
	margin-bottom: 10px;
	font-size: 14px;

	> img {
		margin: 5px;
	}
}

.textarea {
	@extend %tag-input;

	width: 100%;
	height: 200px;
}

.toolbar {
	text-align: right;

	&-btn {
		$hover: #f7f7f7;

		padding: 8px 12px;
		margin-left: 5px;

		color: #bbb;
		cursor: pointer;

		&:hover {
			background-color: $hover;
		}
		&:active {
			background-color: darken($hover, 5%);
		}

		&-primary {
			composes: toolbar-btn;
			color: #167ac6;
		}
	}
}

.newDesign {

}
