@import '~_sass/_variables.scss';
@import '~_sass/_placeholders.scss';
@import '~_sass/_mixins.scss';

.component {
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	transition: height 0.15s;

	padding: 0 5px;

	height: 20px;

	color: var(--yttt-running-text-color);
	font-size: 13px;

	&.new-design {
		height: 38px;
	}

	&.component-is-active {
		background-color: var(--yttt-tag-active-background-color);
		height: 34px;

		&.new-design {
			height: 38px;
		}
	}

	&.comment {
		height: 38px;
	}

	&.sticky {
		position: sticky;
		top: 0;
		bottom: -9px;
		z-index: 1;

		backdrop-filter: blur(8px);

		// fade out var(--yttt-tag-active-background-color)
		background-color: rgba(231, 236, 240, .6);

		@include dark {
			// fade out var(--yttt-tag-active-background-color)
			background-color: rgba(52, 52, 52, .6);
		}
	}
}

.tag {
	flex: 0 0 auto;

	width: 60px;

	margin-right: 15px;

	text-align: right;
}

.description {
	flex: 1 1 auto;

	min-width: 50px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	&-input {
		@extend %tag-input;
		width: 90%;
	}

	&-low-profile {
		color: lighten(rgb(96, 96, 96), 25%);

		&.highlight {
			color: black;

			@include dark {
				color: var(--yt-spec-text-primary);
			}
		}
	}

}
.comment .description {
	max-width: calc(#{'100% - 110px'});
}
:global([dark]) {
	.description-input {
		@extend %dark-tag-input;
	}
}

.actions {
	flex: 0 1 auto;
}
.actions-btn {
	margin-right: 5px;
	cursor: pointer;
	color: var(--yttt-secondary-text-color);
}
.actions-btn-last {
	composes: actions-btn;
	margin-right: 0;
}

.comment-actions {
	position: absolute;
	top: 0;
	right: 0;

	width: 40px;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.comment-actions-btn {
	composes: actions-btn;
}

.comment-status {
	composes: comment-actions;
}
.comment-status-btn {
	composes: actions-btn;
	color: var(--yttt-success-color);
}

.comment-wrap {
	position: relative;

	.comment {
		position: sticky;
		top: 0;
		z-index: 1;
	}

	.comment-text {
		position: relative;
		padding: 8px 12px;

		color: var(--yttt-running-text-color);
		background-color: rgb(238, 241, 243);

		.pre {
			font-size: 12px;
			white-space: pre-wrap;
			line-height: 1.4;
		}

		.highlight {
			background-color: rgba(255, 255, 0, .33);
		}
	}
}
:global([dark]) {
	.comment-wrap {
		.comment-text {
			background-color: rgb(37, 37, 37);
		}
	}
}
