.component {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	padding: 5px 0;

	color: #333;
	font-size: 13px;
}
.component-is-active {
	background-color: fade-out(red, .8);
}


.tag {
	flex: 0 0 auto;

	width: 70px;

	margin-right: 15px;

	text-align: right;
	color: #167ac6;
}

.description {
	flex: 1 0 auto;

	min-width: 50px;
}

.actions {
	flex: 0 1 auto;
}
.actions-btn {
	margin-right: 5px;
}
.actions-btn-last {
	margin-right: 0;
}
