@import "~_sass/_variables.scss";
@import "~_sass/_placeholders.scss";

.component {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	transition: height .15s;

	padding: 0 5px;

	height: 20px;

	color: #333;
	font-size: 13px;

	&.new-design {
		height: 28px;
	}

	&.component-is-active {
		background-color: fade-out(#dbe4eb, .5);
		height: 34px;

		&.new-design {
			height: 38px;
		}
	}
}
:global([dark]) {
	.component {
		color: $dark-running-text-color;

		&.component-is-active {
			background-color: rgba(255, 255, 255, .1);
		}
	}
}


.tag {
	flex: 0 0 auto;

	width: 60px;

	margin-right: 15px;

	text-align: right;
}

.description {
	flex: 1 0 auto;

	min-width: 50px;

	&-input {
		@extend %tag-input;
		width: 90%;
	}
}
:global([dark]) {
	.description-input {
		@extend %dark-tag-input;
	}
}

.actions {
	flex: 0 1 auto;
}
.actions-btn {
	margin-right: 5px;
	cursor: pointer;
	color: $secondary-text-color;
}
:global([dark]) {
	.actions-btn {
		color: $dark-secondary-text-color;
	}
}
.actions-btn-last {
	composes: actions-btn;
	margin-right: 0;
}
