@import "~_sass/_variables";
@import "~_sass/_mixins";

.component {
	@include webkit-scrollbar(light);

	position: relative;
	height: $tag-container-height;
	overflow-y: auto;

	padding-bottom: 8px;

	&.withShadow {
		@include scrolling-shadows(
			$shadow-intensity: 0.15,
			$background-color: $app-background-color
		);
	}
}

:global([dark]) {
	.component {
		@include webkit-scrollbar(dark);
		&.withShadow {
			@include scrolling-shadows(
				$shadow-intensity: 0.3,
				$background-color: $dark-app-background-color
			);
		}
	}
}
