@import "~_sass/_mixins";

.component {
	@include webkit-scrollbar(light);

	position: relative;
	max-height: 30vh;
	overflow-y: auto;

	padding-bottom: 8px;

	&.withShadow {
		@include scrolling-shadows($shadow-intensity: 0.15);
	}
}
