@import "~_sass/_variables.scss";

.component {
}

.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 5px;
	text-align: right;
	border-top: 1px solid #ddd;

	&.comment {
		padding: 8px 5px;
	}

	button {
		position: relative;
		margin-right: 5px;
		cursor: pointer;
	}

	&-btn {
		position: relative;
		margin-right: 5px;
		cursor: pointer;

		&-hint {
			position: absolute;
			right: 100%;
			top: 3px;
			margin-right: 5px;
			color: #a7a7a7;
		}
	}

	&-left {
		flex: 0 1 auto;
		text-align: left;
	}

	&-right {
		flex: 0 1 auto;
		text-align: right;

		button {
			margin-right: 0;
		}
	}
}

.new-design {
	.toolbar {
		border-color: rgba(238, 238, 238, 1.00);

		.toolbar-left {
			button {
				margin-right: 8px;
			}
		}
	}
}

:global([dark]) {
	.new-design {
		.toolbar {
			border-color: $dark-divider-color;
		}
	}
}

:global {
	.yttt-TagList__toolbar-btn-hint {
		&.anim-enter {
			animation: yttt-fadeIn .3s both;
		}
		&.anim-leave {
			animation: yttt-fadeOut .3s both;
		}
	}

	.yttt-TagListImportModal {
		width: 100%;
		max-width: 400px;

		padding: 10px;
		outline: none;

		&.yttt-is-new-design {
			max-width: none;
			width: #{'clamp(460px, 60vw - 2.4rem, 760px)'};
		}
	}

	.yttt-TagListImportModalOverlay {
		position: fixed;
		left: 0; right: 0;
		top: 0; bottom: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;

		background-color: fade-out(#fff, .1);
		z-index: 214748364000;

		&.yttt-is-new-design {
			background-color: fade-out(#fff, .3);
		}
	}

	[dark] .yttt-TagListImportModalOverlay.yttt-is-new-design {
		background-color: fade-out(black, .3);
	}
}
