.component {
}

.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 10px;
	padding: 5px;
	text-align: right;
	border-top: 1px solid #ddd;

	&-btn {
		position: relative;
		margin-right: 5px;
		cursor: pointer;

		&-hint {
			position: absolute;
			right: 100%;
			top: 3px;
			margin-right: 5px;
			color: #a7a7a7;
		}
	}

	&-left {
		flex: 0 1 auto;
		text-align: left;
	}

	&-right {
		flex: 0 1 auto;
		text-align: right;
	}
}

:global {
	.yttt-TagList__toolbar-btn-hint {
		&.anim-enter {
			animation: yttt-fadeIn .3s both;
		}
		&.anim-leave {
			animation: yttt-fadeOut .3s both;
		}
	}

	.TagListImportModal {
		width: 100%;
		max-width: 400px;

		padding: 10px;
	}

	.TagListImportModalOverlay {
		position: fixed;
		left: 0; right: 0;
		top: 0; bottom: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;

		background-color: fade-out(#fff, .1);
		z-index: 214748364000;
	}
}
