@import "~_sass/_variables.scss";

.component {
	color: $endpoint-color !important;
	text-decoration: none !important;
}
:global([dark]) {
	.component {
		color: $dark-endpoint-color !important;
	}
}
