@import "~_sass/_variables.scss";

.component {
	padding-left: 10px;
	margin-bottom: 20px;

	&.new-design {
		padding-left: 0;
	}
}

.logo-wrap {
	position: relative;
	top: -1px;

	display: inline-block;
	margin-right: 5px;
}

.title {
	margin: 0 0 5px;
	font-size: 13px;
	color: $title-color;
	line-height: 1.3em;
	width: 290px;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;

	&-videoId {
		font-size: 12px;
		color: #a7a7a7;
		font-weight: normal;
	}
}
:global([dark]) {
	.title {
		color: $dark-title-color;
	}
}

.new-design {
	.title {
		margin-bottom: 10px;
	}
}
